<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <% if current_user.id == @group_event.user_id%>
            <h4 class="modal-title">Изменить параметры занятия</h4>
        <% else %>
            <h4 class="modal-title">Записаться на групповое занятие</h4>
        <% end %>
      </div>
      <div class="modal-body">
        <% if current_user.id == @group_event.user_id%>
            <%= render 'form', event: @group_event %>
        <% else %>
            <%= render 'group_form', event: @group_event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
