%tr.nested-fields
  %td= f.input :name, label: false
  %td= link_to 'Настроить цены', dashboard_area_prices_path(area_id: f.object.id) if f.object.persisted?
  %td= f.input :change_price, label: false
  %td= link_to_remove_association 'Удалить площадку', f