<h1> Восстановление пароля</h1>
<p>Здравствуйте, <%= @resource.email %>!</p>
<p>Вы запросили восстановление пароля для данной электронной почты.</p>
<p><%= link_to 'Чтобы восстановить пароль, перейдите по ссылке', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>