<table class="table">
<tbody>
<% object.withdrawal_requests.each do |d| %>
  <tr>
    <td>
    <%= t("enums.withdrawal_request.status.#{d.status}") %>
    </td>
    <td>
    <%= link_to "#{d.amount.to_i} руб.", rails_admin.show_path(model_name: 'withdrawal_request', id: d.id) %>
    </td>
    <td>
    <%= d.created_at %>
    </td>
  </tr>
<% end %>
</tbody>
</table>