%tr.site-table__item
  %td.site-table__item-option
    = event.area.name
  %td.site-table__item-option
    = l event.start, format: :short
  %td.site-table__item-option
    = l event.stop, format: :short
  %td.site-table__item-option
    = number_to_integer_currency event.price
