- if @order.paid?
  %h3= "Заказ #{@order.guid} успешно оплачен."
  %p Благодарим вас за запись на занятия через нашу систему!
  %p Хозяины стадионов сейчас же будут предупреждены об оплаченном заказе
%table.table.table-hover
  %thead.site-table__head
    %tr
      %th Площадка
      %th Начало
      %th Конец
      %th Цена
  %tbody.site-table__body
    = render @order.events

%h4 Мы рады обеспечить вам самый лучший уровень сервиса
%p Спасибо что выбираете Booking Sports. Пожалуйста, пишите в любое время если у вас есть какие-либо замечания или предложения.