<div class="error">
  <h1 class="error_title">
    404
    <sub>страница не&nbsp;найдена</sub>
  </h1>
  <p class="error_text">Страница с&nbsp;таким адресом не&nbsp;найдена, проверьте правильно&nbsp;ли вы&nbsp;ввели адрес.</p>
</div>
