- breadcrumb :coaches

.body-bg
  .row
    .entry
      %h1
        Тренеры
      %hr/
      = search_form_for @q, remote: true, wrapper: :inline_form, html: { class: 'form-inline' } do |f|
        = f.input :areas_stadium_category_id_eq, collection: Category.all,  prompt: 'Все категории', label: false
        = f.button :submit, 'Поиск', class: 'btn btn-info'
      %hr/
      .list-unstyled.coaches
        .row
          = render @coaches
