%h3 Пользователем #{@event.user.name} было оплачено событие #{@event.id} на вашем стадионе.

%table.table
  %thead.site-table__head
    %tr
      %th Площадка
      %th Начало
      %th Конец
      %th Цена
  = render @event