%h1 Отмена занятия

Администратор стадиона #{@event.area.stadium.name} отменил ваше оплаченное занятие.
На ваш профиль зачислено соответствующее количество отыгрышей на данной площадке.
Просим прощения за причиненные неудобства.

Данные заказа: