%tr
  %td= coach_court.court.stadium.name
  %td= coach_court.court.name
  %td= coach_court.price
  %td= link_to fa_icon('times') + ' Отвязатся', dashboard_employment_path(id: coach_court.id), method: :delete, data_confirm: 'Вы уверены?'
