.check-wrap__cover {
  margin-top: 18px;
  font-size: 0;
}

.checkbox_wrap {

  .checkbox,
  .check-wrap {
    font-size: 0;
  }
}

.checkbox,
.check-wrap {
  float: none;
  position: relative;
  display: inline-block;
  margin-top: 10px;
  min-height: 28px;
  font-size: 13px;
  line-height: 16px;
  color: #000;

  input[type=checkbox] {display: none}
  input[type=radio] {display: none}
}

.checkbox {
  min-width: 25px;
  width: 10%;
  margin: 0;
}

.check-wrap--table {
  margin-top: 0;
}

.check-box {}

.checkbox label,
.check-label,
.radio-label {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  min-height: 25px;
  min-width: 25px;
  padding: 6px 0 6px 35px;
  cursor: pointer;
  margin: 0;
  @include transition(all 0.1s linear);
  user-select: none;

  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    @include square(25px);
    border: 2px solid #00b0ff;
    @include border-radius(4px);
  }

  a {
    text-decoration: none;
    &:hover {text-decoration: underline;}
  }

  &:hover {
    text-decoration: underline;
  }
}

.checkbox_label {
  font-size: 0;
}

.radio-label:before {
  @include border-radius(8px);
}

.checkbox input[type=checkbox]:checked + label,
.check-wrap input[type=checkbox]:checked + .check-label {
  color: #000;
  &:before {
    content: "\2713";
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 22px;
    background-color: #00b0ff;
    border-color: #00b0ff;
  }
}
.check-wrap input[type=radio]:checked + .radio-label {
  color: #000;
  &:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    @include square(8px);
    @include border-radius(4px);
    background-color: #00b0ff;
  }
}

@media all and (max-width: 767px) {
  .check-wrap__cover {
    margin-top: 0;
  }
}

.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: 0px;
  margin-top: 4px \9;
}