.coach__item {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;

  &:before {
    content: '';
    position: absolute;
    left: 15px;
    top: 0;
    right: 15px;
    bottom: 0;
    background-color: #f5f5f5;
  }
}

.coach__item_image {
  @include display-block;
  max-width: 230px;

  img {
    @include transition(all .15s linear);
  }
}

.coach__item_reviews {
  position: absolute;
  bottom: 0;
  right: 15px;
  background-color: rgba(0, 0, 0, .8);
  padding: 5px 5px 5px 31px;
  font-size: 12px;
  line-height: 24px;
  color: #fff;

  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 21px;
    height: 24px;
    @include background-asset('reviews.png', no-repeat center center);
    -webkit-background-size: 21px 24px;
    background-size: 21px 24px;
  }
}

.coach__item_info {
  @include display-block;
  padding-right: 25px;
  padding-top: 15px;
}

.coach__item_name {
  @include display-block;
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 22px;
}

.coach__item_text {
  margin: 0 0 10px;
}

@media all and (max-width: 1200px) and (min-width: 768px) {
  .coach__item_name {
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 16px;
  }
  .coach__item_text {
    font-size: 11px;
  }
}

@media all and (max-width: 767px) {
  .coach__item {
    padding-bottom: 30px;

    &:before {display: none;}
    &:after {
      content: '';
      position: absolute;
      left: 15px;
      right: 15px;
      bottom: 0;
      border-top: 1px solid #eeeeee;
    }
  }

  .coach__item_image {
    float: none;
    margin: 0 auto;
  }

  .coach__item_info {
    text-align: center;
  }

  .coach__item_name {
    font-size: 16px;
    line-height: 20px;
    color: #337ab7;
  }

  .coach__item_text .fa {
    @include display-block;
    margin-bottom: 5px;
  }
}