.footer {
  display: block;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 21px 25px;
  background-color: #283138;
  color: #fff;
}

.footer__text {
  position: relative;
  overflow: hidden;
  margin: 0;
  font-family: 'Roboto', Helvetica, Arial, serif;
  font-weight: 700;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.footer__menu {
  padding-top: 12px;
  text-align: right;
}

.footer__menu_link {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-left: 20px;
  &:first-child {margin-left: 0;}
}

@media all and (max-width: 991px) {
  .footer {
    padding: 33px 15px;
  }
}

@media all and (max-width: 767px) {
  .footer {
    height: 166px;
    padding: 15px 10px;
  }
  .footer__menu {
    display: block;
    margin-top: 15px;
    padding: 0;
    text-align: left;
  }
  .footer__menu_link {
    display: block;
    margin: 0;
  }
}