.homepage-container {
  margin: 20px 0 0;
}

.homepage_category_link {

  @media all and (min-width: 1200px) {
    &:hover {
      .hpt-border {
        height: 74px;
        border-color: #4070B6;
        background-color: #4070B6;
      }
      .hpt-col {
        bottom: 10px;
        @include opacity(100);
      }
      .homepage_category_image {
        @include scale(1.03);
      }
    }
  }
}

.homepage_category_popular {}

.homepage_category_wrap {
  margin: 20px 0;
}

.homepage_category {
  @include display-block;
  height: 200px;
  padding: 20px;
}

.homepage_category_image {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  @include transition(all .15s linear);
  background-color: #4d9e0c;
  background-position: center center !important;
  -webkit-background-size: cover !important;
  background-size: cover !important;
}

.homepage_category--hide {
  pointer-events: none;
  @include opacity(70);
}

.homepage-txt-block {
  position: relative;
  top: 50%;
  @include translate(0, -50%);
  font-size: 24px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
.hpt-border {
  @include display-inline;
  height: 60px;
  padding: 10px 40px;
  border: 3px solid rgba(255,255,255,0.6);
  @include border-radius(2px);
  font-size: 24px;
  line-height: 34px;
  background-color: rgba(255, 255, 255, 0.2);
  @include transition(all .15s linear);
}

.hpt-col {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  @include translate(-50%, 0);
  font-size: 10px;
  line-height: 14px;
  @include opacity(0);
  @include transition(all .15s linear);
}

@media all and (max-width: 1200px) {
  .homepage-txt-block {
    font-size: 18px;
  }
  .hpt-border {
    height: auto;
  }
  .hpt-col {
    position: relative;
    display: block;
    left: 0;
    width: auto;
    @include translate(0, 0);
    @include opacity(100);
  }
}

@media all and (max-width: 991px) and (min-width: 768px) {
  .homepage_category_popular {
    .coach__item.col-sm-6:last-child {
      margin-left: 25%;
    }
  }
}

@media all and (max-width: 991px) {
  .homepage-container {
    padding: 0;
  }
}