.site-table {}

.site-table__head {}

.site-table__body

.site-table__item {
  .site-table__item {margin-bottom: 0;}
}

.site-table__item-option {}

.site-table__item-title {
  display: none;
  position: relative;
  font-weight: bold;
}

@media all and (max-width: 991px) {
  .site-table,
  .site-table__body,
  .site-table__item-option {
    @include display-block;
  }

  .site-table__head {
    display: none;
  }

  .site-table__item-option {
    margin-bottom: 10px;
    &:last-child {margin-bottom: 0;}
    border: none !important;
  }

  .site-table__item-option_hide {display: none;}

  .site-table__item {
    @include display-block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: rgba(0, 176, 255, 0.3);
  }

  .site-table__item-title {
    display: inline-block;
  }
}