.site-table {
  display: block;

  @media all and (max-width: 767px) {
    display: none;
  }
}

.site-table_list {
  display: none;

  @media all and (max-width: 767px) {
    display: block;
  }
}

.site-table_list__item {
  @include display-block;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgba(0, 0, 0, 0.2);
}

.site-table_list__item-option {
  @include display-block;
  margin: 0 0 10px;
}

.site-table_list__item-title {
  @include display-inline;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.site-table_list__item-text {
  @include display-inline;
  font-size: 12px;
  line-height: 16px;
}