.ticket_show {
  .ticket {
    display: block;
  }
}

.ticket {
  display: none;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media print {
  .ticket {
    display: block;
  }
}

.ticket_header {
  @include display-block;
}

.ticket_header_logo {
  @include display-block;
  margin-bottom: 20px;
}

.ticket_header_text {
  @include display-block;
  margin: 0 0 20px;
  font-size: 15px;
}

.ticket_body {
  @include display-block;
  width: 100%;
  padding: 20px;
}

.ticket_title {
  @include display-block;
  text-align: center;
  margin: 0 0 20px;
  font-size: 22px;
}

.ticket_text {
  @include display-block;
  margin: 0 0 20px;
  font-size: 16px;
  text-align: center;
}

.ticket_table {
  @include display-block;
  border: 2px solid #000;

  .table {
    margin: 0;
    font-size: 12px;
  }
}

.ticket_table_box {
  float: left;
  @include display-block;
  width: 100%;
  padding: 15px 15px 0;
}

.ticket_table_box_line {
  @include display-block;
  width: 100%;
  margin-bottom: 15px;

  span {
    @include display-block;

    &:first-child {
      //font-style: italic;
      font-size: 11px;
    }
    &:last-child {
      font-size: 15px;
    }
  }

  span.big {
    font-weight: bold;
    font-size: 18px;
  }
}

.ticket_table_line {
  @include display-block;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.ticket_table_box_line--cover {
  padding-right: 170px;
}

.ticket_qr {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  padding: 10px;
  border-left: 2px solid #000;
  border-bottom: 2px solid #000;
}