%h2 Клиенты
%table.table.table-hover.site-table
  %thead.site-table__head
    %tr
      %th Имя
      %th Телефон
      %th Почта
      %th Количество занятий
      %th
  %tbody.site-table__body
    = render collection: @customers, partial: 'customer'