= link_to 'Создать страницу', new_admin_static_page_path, class: 'btn btn-primary admin-add-button'

%table.table.table-hover
  %thead
    %tr
      %th
      %th
      %th
  %tbody
    = render @pages
