<%= simple_form_for @event do |f| %>
    <div class="form-inputs">
      <%= f.input :date_range, :label => "Время занятия", input_html: { class: "form-control input-sm date-range-picker" } %>
      <%= f.input_field :start, as: :hidden, value: Date.today, class: 'form-control input-sm start_hidden' %>
      <%= f.input_field :stop, as: :hidden, value: Date.today, class: 'form-control input-sm end_hidden' %>
      <%= f.hidden_field :area_id, class: 'form-control input-sm area_hidden'%>
      <%= f.input :coach_id,:label => "Тренер", input_html: { class: "form-control input-sm" } %>
      <%= link_to t('show_coaches_list'), coaches_path, target: '_blank' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Забронировать' %>
      <%= link_to 'Delete',
                  event,
                  method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: 'Are you sure?' },
                  remote: true unless @event.new_record? %>
    </div>
<% end %>