= javascript_include_tag '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'
= javascript_include_tag '//maps.google.com/maps/api/js?language=ru&libraries=places'
