- content_for :scripts do
  = javascript_include_tag 'map'

#map-container
  #map
  .searchonmap
    = search_form_for @q, remote: true, wrapper: :inline_form, html: { id: 'searcher', class: 'form-inline' } do |f|
      = f.input :name_cont, placeholder: 'Название', label: false
      = f.input :category_id_eq, collection: Category.all, prompt: 'Все категории', label: false
      = f.button :submit, 'Поиск', data: {search_on_map: true}
