.row.schedule-legend-nav
  .col-xs-4
    .legend-label.legend-owned
    = raw " &mdash; своё"
  .col-xs-4
    .legend-label.legend-disowned
    = raw " &mdash; чужое"
  .col-xs-4
    .legend-label.legend-paid
    = raw " &mdash; оплаченное"
