.panel.panel-default
  .panel-body
    = review.text
    %br
    %h3
      %span.label.label-info
        Оценка:
        = review.rating
    %hr
    %i= review.user.name
    = review.created_at.strftime("%d.%m.%Y")