<%- if stadium.areas.any? %>
  <li class="clearfix">
    <div class="row">
      <div class="col-xs-2">
        <%= link_to stadium, class: 'stadium-link' do %>
          <%= image_tag stadium.main_image.small_square.url, class: 'avatar photo pull-left' %>
        <% end %>
      </div>
      <div class="col-xs-10">
        <h3><%= link_to stadium.name, stadium %></h3>
        <p><%= stadium.address %></p>
      </div>
    </div>
  </li>
<% end %>
