<%- if stadium.areas.any? %>
  <div class="col-md-4 col-sm-6 col-xs-12 coach__item">
    <div class="row">
      <div class="col-sm-6 col-xs-12 coach__item_image">
        <%= link_to stadium do %>
          <%= image_tag stadium.main_image.small_square.url, class: 'avatar photo pull-left' %>
        <% end %>
      </div>
      <div class="col-sm-6 col-xs-12 coach__item_info">
        <h3 class="coach__item_name"><%= link_to stadium.name, stadium %></h3>
        <p class="coach__item_text"><%= stadium.address %></p>
      </div>
    </div>
  </div>
<% end %>
