- content_for :main_cache_key do
  = [cache_key_for_categories, cache_key_for_stadiums]

- breadcrumb :stadiums
- breadcrumb :category, @category  if @category
.body-bg
  .row
    .entry
      %h1
        Стадионы
      %hr
      = render 'map'
      %hr
      = render 'search_on_map', category_id: @category_id, include_stadiums: true, q: @q
      %hr
      %div.list-unstyled.stadiums
        .row
          = render @stadiums
