- content_for :main_cache_key do
  = [cache_key_for_categories, cache_key_for_stadiums]

- breadcrumb :stadiums
- breadcrumb :category, @category  if @category
.body-bg
  .row
    .entry
      %h1
        Стадионы
      %hr.col-xs-12
      = render 'map'
      %hr.col-xs-12
      = render 'search_on_map', categories: [@category], include_stadiums: true, q: @q
      %hr.col-xs-12
      .row
        %div.list-unstyled.stadiums
          = render @stadiums