<footer class="footer">
  <div class="col-md-4 col-sm-6 col-xs-12">
    <p class="footer__text footer__create">
      Разработано в 2019
    </p>
    <p class="footer__text footer__feedback">
      Пишите нам:
      <a href="mailto:support@bookingsports.ru" class="footer__text">support@bookingsports.ru</a>
    </p>
  </div>

  <div class="col-md-8 col-sm-6 col-xs-12">
    <nav class="footer__menu" id="menu-footer">
      <% @pages.each do |page| %>
          <%= link_to page.title, page, class: 'footer__text footer__menu_link' %>
      <% end %>
    </nav>
  </div>
</footer>